repos:

- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
  - id: black

- repo: https://github.com/pycqa/isort
  rev: 6.0.0
  hooks:
  - id: isort

- repo: https://github.com/pycqa/flake8
  rev: 7.1.1
  hooks:
  - id: flake8

- repo: https://github.com/codespell-project/codespell
  rev: v2.4.1
  hooks:
  - id: codespell
    additional_dependencies: ["tomli"] # needed to parse pyproject.toml
    exclude: '^poetry\.lock|pyproject\.toml$'

- repo: https://github.com/python-poetry/poetry/
  rev: '1.8.0'
  hooks:
  - id: poetry-check
    name: "poetry: check pyproject.toml syntax"
  # We're slightly abusing the 'poetry-lock' hook, by running
  # 'poetry lock --check' instead of 'poetry lock'
  - id: poetry-lock
    name: "poetry: check poetry.lock consistency"
    args: ['--check']
    files: '^(pyproject\.toml|poetry\.lock)$'

- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    additional_dependencies: [tomli]
    exclude: "^(tests/|examples/example_scripts/)"

- repo: https://github.com/ansys/pre-commit-hooks
  rev: v0.5.1
  hooks:
  - id: add-license-headers
    args: ["--start_year", "2022"]

- repo: local
  hooks:
  - id: mypy-code
    name: "mypy: strict checks on code"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    exclude: "^(doc/)|(tests/)|^(examples/)|(_vendored)"
    args: ["--strict", "--namespace-packages", "--explicit-package-bases"]

  - id: mypy-tests
    name: "mypy: lenient checks on tests"
    entry: mypy
    language: python
    types: [python]
    require_serial: true
    files: "^(tests/)|^(examples/)"
    args: ["--namespace-packages", "--explicit-package-bases"]
